<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
	
	<servlet>
		<servlet-name>formBuilder</servlet-name>
		<servlet-class>edu.fyp.servlet.FormBuilder</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>formBuilder</servlet-name>
		<url-pattern>/formBuilder</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>formBuilders</servlet-name>
		<servlet-class>edu.fyp.servlet.FormBuilderAddFormTest</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>formBuilders</servlet-name>
		<url-pattern>/formBuilders</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>showForm</servlet-name>
		<servlet-class>edu.fyp.servlet.ShowForm</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>showForm</servlet-name>
		<url-pattern>/showForm</url-pattern>
	</servlet-mapping>
			<servlet>
		<servlet-name>showFormList</servlet-name>
		<servlet-class>edu.fyp.servlet.ShowFormList</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>showFormList</servlet-name>
		<url-pattern>/showFormList</url-pattern>
	</servlet-mapping>
</web-app>