table.viewFormTable{
    font:88%/1.7em "Trebuchet MS","Bitstream Vera Sans",Verdana,Helvetica,sans-serif;
    border-collapse:separate;
    border-spacing:0;
    margin:0 0 1em 0;
    color:#000;
}
table.viewFormTable a{
    color:#09f;
    text-decoration:none;
}
table.viewFormTable thead th,table.viewFormTable thead td{
    font-weight:bold;
    line-height:normal;
    text-align:left;
    border-bottom:0.4em solid #2C5463;
}
table.viewFormTable tfoot th,table.viewFormTable tfoot td{
    text-align:left;
    border-top:0.4em solid #2C5463;
    font-weight:bold;
}
table.viewFormTable th,table.viewFormTable td{
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
table.viewFormTable tbody th, table.viewFormTable td{
    text-align:center;vertical-align:top;
}
table.viewFormTable tbody th{
    font-weight:normal;white-space:nowrap;
}
table.viewFormTable tbody th a:link,table.viewFormTable tbody th a:visited{
    font-weight:bold;
}
table.viewFormTable tbody th+td{
    white-space:nowrap;
}
table.viewFormTable tbody td,table.viewFormTable tbody th{
    border:1px solid #fff;
    border-width:1px 0;
}
table.viewFormTable tbody tr.odd th,table.viewFormTable tbody tr.odd td{
    border-color:#deded8;
    background:#f9f9fb;
}
table.viewFormTable tbody tr:hover td,table.viewFormTable tbody tr:hover th{
    background:#fbfbf8;
}
table.viewFormTable caption{
    font-weight:bold;
    font-size:1.7em;
    text-align:left;
    margin:0;padding:0.5em 0.25em;
}
table.viewFormTable td+td+td+td{
    white-space:nowrap;
}

legend {
    font-size: 14px;    
    color: white;    
    padding: 0.1em; font-weight: bold; 
    background-color: #2C5463;
    text-align: left
}
fieldset.float_left{
    padding : 15px;
    border:1px solid #7F9DB9;
    width: 96%; 
    float: left;
    width: 600px;
    height:150px;
    float: left;
    margin-top:10px;
}
fieldset a{
    text-decoration: none;
}
fieldset.float_right{
    padding : 15px;
    border:1px solid #7F9DB9;
    width: 96%; 
    float: left;
    width: 300px;
    height:380px;
    float: right;
}